# Sphinx build directory
docs/build

# Compiled Python files
*.pyc

# Terraform files
*.terraform/
terraform.tfvars
terraform/terraform.tfstate*
terraform/*.zip
terraform/*.tf.json

# MacOS artifacts
Thumbs.db
.DS_Store
*.swp
terminal.glue

# Coveralls repo token
.coveralls.yml

# VSCode
.vscode/*

# nose coverage file
.coverage
.noseids
nosetests.xml

# virtualenv files
venv/
.envrc

.vagrant/
htmlcov/
