# Sphinx build directory
docs/build

# Compiled Python files
*.pyc
__pycache__

# Terraform files
*.terraform/
terraform.tfvars
terraform/terraform.tfstate*
terraform/*.zip
terraform/*.tf.json

# Coveralls repo token
.coveralls.yml

# nose coverage file
.coverage

# virtualenv files in root of repo
/venv

# Vagrant VM artifacts
ubuntu*.log
/vagrant

# Coverage artifacts
/htmlcov
