language: python
dist: trusty
cache: pip
sudo: required
python:
  - 2.7
before_install:
  - sudo rm -f /etc/boto.cfg
install:
  - pip install -r requirements.txt
script:
  - ./test/scripts/unit_tests.sh
  - ./stream_alert_cli.py lambda test --processor all
  - sphinx-build -W docs/source docs/build
after_success:
  coveralls
