# -c constraints.txt  # remove if using pip freeze
aliyun-python-sdk-core==2.13.5
aliyun-python-sdk-actiontrail==2.0.0
autoflake==2.0.0
autopep8==2.0.0
backoff==2.2.1
bandit==1.7.4
boto3==1.26.26
boxsdk==3.5.1
cbapi==1.7.9
coverage==6.5.0
coveralls==3.3.1
google-api-python-client==2.69.0
jmespath==0.10.0
jsonlines==3.1.0
mock==4.0.3
moto==4.0.11
netaddr==0.8.0
nose==1.3.7
nose-timer==1.0.1
pathlib2==2.3.7.post1
policyuniverse==1.5.0.20220613
pyfakefs==5.0.0
pylint==2.3.1
pymsteams==0.2.2
requests==2.28.1
Sphinx==5.3.0
sphinx-rtd-theme==1.1.1
yapf==0.32.0
## The following requirements were added by pip freeze:
alabaster==0.7.12
aliyun-python-sdk-core-v3==2.13.33
astroid==2.12.13
attrdict==2.0.1
attrs==22.1.0
aws-sam-translator==1.25.0
aws-xray-sdk==2.11.0
Babel==2.11.0
boto==2.49.0
botocore==1.29.26
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
cfn-lint==0.34.0
chardet==5.1.0
charset-normalizer==2.1.1
cryptography==38.0.4
decorator==5.1.1
dill==0.3.6
docker==6.0.1
docopt==0.6.2
docutils==0.15.2
ecdsa==0.18.0
future==0.18.2
gitdb==4.0.10
GitPython==3.1.29
google-api-core==2.11.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.57.0
httplib2==0.21.0
idna==3.4
imagesize==1.4.1
importlib-metadata==5.1.0
importlib-resources==5.10.1
isort==4.3.21
Jinja2==3.1.2
jsondiff==2.0.0
jsonpatch==1.32
jsonpickle==3.0.0
jsonpointer==2.3
jsonschema==3.0
junit-xml==1.9
lazy-object-proxy==1.8.0
MarkupSafe==2.1.1
mccabe==0.6.1
networkx==2.4
packaging==22.0
pbr==5.11.0
pika==1.3.1
pkgutil_resolve_name==1.3.10
platformdirs==2.6.0
prompt-toolkit==3.0.36
protobuf==4.21.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.16.0
pyflakes==3.0.1
Pygments==2.13.0
PyJWT==2.6.0
pyparsing==3.0.9
pyrsistent==0.19.2
python-dateutil==2.8.2
python-jose==3.3.0
pytz==2022.6
PyYAML==6.0
requests-toolbelt==0.10.1
responses==0.22.0
rsa==4.9
s3transfer==0.6.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
solrq==1.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sshpubkeys==3.3.1
stevedore==3.5.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
typed-ast==1.5.4
types-toml==0.10.8.1
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.13
validators==0.20.0
wcwidth==0.2.5
websocket-client==1.4.2
Werkzeug==2.2.2
wrapt==1.14.1
xmltodict==0.13.0
zipp==3.11.0
