-c constraints.txt  # remove if using pip freeze
aliyun-python-sdk-core==2.13.5
aliyun-python-sdk-actiontrail==2.0.0
autoflake
autopep8
backoff
bandit
boto3
boxsdk[jwt]
cbapi
coverage
coveralls
google-api-python-client
jmespath
jsonlines
mock
moto
netaddr
nose
nose-timer
pathlib2
policyuniverse
pyfakefs
pylint==2.3.1
pymsteams
requests
Sphinx
sphinx-rtd-theme
yapf
