Sphinx
autoflake
autopep8
awscli
backoff
boto3
botocore
boxsdk[jwt]==2.0.0a11
coverage
coveralls
cryptography
google_api_python_client
jsonpath_rw
mock
moto==1.1.10
netaddr
nose
pyfakefs
pylint
requests
sphinx-rtd-theme
virtualenv
yapf