aliyun-python-sdk-core==2.8.5
aliyun-python-sdk-actiontrail==2.0.0
autoflake==1.2
autopep8==1.4.2
backoff==1.6.0
bandit==1.5.1
boto3==1.7.84
boxsdk==2.0.0a11
cbapi==1.3.6
coverage==4.5.1
coveralls==1.5.1
cryptography==2.3.1
google-api-python-client==1.6.4
jmespath==0.9.3
jsonlines==1.2.0
mock==2.0.0
moto==1.3.3
netaddr==0.7.19
nose==1.3.7
nose-timer==0.7.1
pathlib2==2.3.2
pyfakefs==3.5
pylint==1.7.4
python-dateutil==2.6.1
requests==2.20.0
Sphinx==1.8.1
sphinx-rtd-theme==0.4.2
ushlex==0.99.1
yapf==0.24.0
## The following requirements were added by pip freeze:
alabaster==0.7.12
asn1crypto==0.24.0
astroid==1.6.5
attrdict==2.0.0
aws-xray-sdk==0.95
Babel==2.6.0
backports.functools-lru-cache==1.5
backports.ssl-match-hostname==3.5.0.1
backports.tempfile==1.0
backports.weakref==1.0.post1
boto==2.49.0
botocore==1.10.84
cachetools==2.1.0
certifi==2018.10.15
cffi==1.11.5
chainmap==1.0.2
chardet==3.0.4
configparser==3.5.0
cookies==2.2.1
docker==3.5.1
docker-pycreds==0.3.0
docopt==0.6.2
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gitdb2==2.0.5
GitPython==2.1.11
httplib2==0.11.3
idna==2.7
imagesize==1.1.0
ipaddress==1.0.22
isort==4.3.4
Jinja2==2.10
jsondiff==1.1.1
jsonpickle==1.0
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
oauth2client==4.1.3
packaging==18.0
pbr==5.1.0
pika==0.12.0
prompt-toolkit==2.0.7
protobuf==3.6.1
pyaml==17.12.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pycparser==2.19
pycryptodome==3.7.0
pyflakes==2.0.0
Pygments==2.2.0
PyJWT==1.6.4
pyOpenSSL==18.0.0
pyparsing==2.2.2
pytz==2018.7
PyYAML==3.13
requests-toolbelt==0.8.0
responses==0.10.2
rsa==4.0
s3transfer==0.1.13
scandir==1.9.0
singledispatch==3.4.0.3
six==1.11.0
smmap2==2.0.5
snowballstemmer==1.2.1
sphinxcontrib-websupport==1.1.0
stevedore==1.30.0
termcolor==1.1.0
typing==3.6.6
uritemplate==3.0.0
urllib3==1.24
wcwidth==0.1.7
websocket-client==0.53.0
Werkzeug==0.14.1
wrapt==1.10.11
xmltodict==0.11.0
pathlib2==2.3.2
pyfakefs==3.5
