aliyun-python-sdk-core==2.13.5
aliyun-python-sdk-actiontrail==2.0.0
autoflake==1.3.1
autopep8==1.4.4
backoff==1.8.1
bandit==1.6.2
boto3==1.10.7
boxsdk==2.6.1
cbapi==1.5.4
coverage==4.5.4
coveralls==1.11.1
google-api-python-client==1.7.11
jmespath==0.9.4
jsonlines==1.2.0
mock==3.0.5
moto==1.3.13
netaddr==0.7.19
nose==1.3.7
nose-timer==0.7.5
pathlib2==2.3.5
policyuniverse==1.3.2.1
pyfakefs==3.6.1
pylint==2.3.1
requests==2.22.0
Sphinx==2.2.1
sphinx-rtd-theme==0.4.3
yapf==0.28.0
## The following requirements were added by pip freeze:
alabaster==0.7.12
aliyun-python-sdk-core-v3==2.13.10
astroid==2.3.2
atomicwrites==1.3.0
attrdict==2.0.1
attrs==19.3.0
aws-sam-translator==1.15.1
aws-xray-sdk==2.4.2
Babel==2.7.0
boto==2.49.0
botocore==1.13.7
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.1
cfn-lint==0.24.6
chardet==3.0.4
cryptography==2.8
DateTime==4.3
decorator==4.4.1
docker==4.1.0
docopt==0.6.2
docutils==0.15.2
ecdsa==0.13.3
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.4
google-auth==1.6.3
google-auth-httplib2==0.0.3
httplib2==0.18.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
isort==4.3.21
Jinja2==2.10.3
jsondiff==1.1.2
jsonpatch==1.24
jsonpickle==1.2
jsonpointer==2.0
jsonschema==3.1.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.2
pbr==5.4.3
pika==1.1.0
pluggy==0.13.0
prompt-toolkit==2.0.10
protobuf==3.10.0
py==1.8.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.4.2
PyJWT==1.7.1
pymsteams==0.1.12
pyparsing==2.4.2
pyrsistent==0.15.5
pytest==5.0.0
python-dateutil==2.8.0
python-jose==3.0.1
pytz==2019.3
PyYAML==5.1.2
requests-toolbelt==0.9.1
responses==0.10.6
rsa==4.0
s3transfer==0.2.1
six==1.12.0
smmap2==2.0.5
snowballstemmer==2.0.0
solrq==1.1.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sshpubkeys==3.1.0
stevedore==1.31.0
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.25.6
validators==0.14.0
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==0.16.0
wrapt==1.11.2
xmltodict==0.12.0
zipp==0.6.0
zope.interface==4.6.0
