autoflake
autopep8
awscli
backoff
bandit
boto3
boxsdk[jwt]==2.0.0a11
coverage
coveralls
cryptography
google_api_python_client==1.6.4
jsonpath_rw
mock
moto==1.1.10
netaddr
nose
nose-timer==0.7.1
pyfakefs
pylint==1.7.4
requests
Sphinx
sphinx-rtd-theme
yapf

